/*Fonts*/
$font-size: 14px;
$font-xbg-size: 18px;
$font-bg-size: 16px;
$font-md-size: 14px;
$font-sm-size: 13px;
$font-xs-size: 11px;
$btn-icon-font-size: 20px;

/*Colors*/
$primary-color: #dd4f05;
$secondary-color: #dd8705;
$blue-black-color: #576f7f;
$link-color: #5cc6ff;
$light-background-color: #e7f7ff;
$danger-color: #f53d3d;
$light-color: #f4f4f4;
$deep-light-color: #afafaf;
$whatsapp-color: #34af23;
$dark-color: #222;
$white-color: #fff;
$blue-badge-color: #00204f;
$light-gray-color: #c3c3c3;
$gray-color: #878787;
$viseral-color: #dd4f05;
/*#a4f453 #60a31d
/*Navbar*/
$nav-link-font-size: 14px;

$transparent-bg: transparent !default;

/*Cards*/
$border-radius-card: 5px;
